
.row{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.parentBox{
    background: #fdfdfd;
    border: 1px solid #d9d9d9;
    padding: 15px;
    border-radius: 5px;
    width: 48%;

    h2{
        font-size: 42px;
        color: #4ec65f;
        margin: 0;
        padding: 0;

        span{
            font-size: 30px;
            float: right;
        }
    }
    table{
        font-size: 30px;
        width: 100%;
        text-align: left;

        th{
            background: #f4f4f4;
        }
    }
}

.removeLink{
    color: #d00421;
}

.dupa{
    width: 100px;
    height: 100px;
    background: red;
}