<div class="row">
    <div class="col parentBox">
        <h2>Users <span>{{users.length}}</span></h2>
        <table>
            <tr>
                <th>User Name</th>
                <th class="removeLink">Remove</th>
                <td>Upgrade</td>
            </tr>

            <tr *ngFor="let user of users; index as i">
                <td>{{user}}</td>
                <td class="removeLink" (click)="removeItemUsers(i)">Remove</td>
                <td class="upgrade" (click)="upgrade(user)">Upgrade</td>
            </tr>
        </table>
    </div>

    <div class="col parentBox">
        <h2>Admins <span>{{admins.length}}</span></h2>
        <table>
            <tr>
                <th>Admin Name</th>
                <th class="removeLink" >Remove</th>
                <td>Degrade</td>
            </tr>

            <tr *ngFor="let admin of admins; index as i">
                <td>{{admin}}</td>
                <td class="removeLink" (click)="removeItemAdmins(i)">Remove</td>
                <td (click)="degrade(admin)">Degrade</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div class="row">
    <app-create-accounts  [boxColor]="'green'" [placeholderText]="'Create user'" (inputEvent)="pushUsers($event)"></app-create-accounts>
    <app-create-accounts [boxColor]="'red'" [placeholderText]="'Create admin'" (inputEvent)="pushAdmins($event); upgrade($event)">
    
       </app-create-accounts>
</div>
